<%- include('../../partials/userHeader.ejs') %> 
<%- include("../../partials/adminSidebar.ejs") %>

<div class="wrapper">
  <header class="header-general">
    <a href="#" class="header-general-link">
      Utente: <%= currentUser.username %>
    </a>      
  </header>
  <div class="inner-wrapper">
    <section>
      <header class="pro-title">
        <h1>
          <%= project.name %>
        </h1>
      </header>
      <div class="update-delete-button-container">
        <a href="/homeadmin/projects/<%=project._id%>/edit">
          <button> 
            Modifica
          </button>
        </a>
        <form 
          action="/homeadmin/projects/<%=project._id%>?_method=DELETE" 
          method="POST" 
          style="width: 100%;"
        >
          <button class="delete-button">
            Elimina
          </button>
        </form>        
      </div>
      <div class="info-container">
        <h5 class="info-title">
          Dettagli progetto
        </h5>
        <p><strong>Data di inizio:</strong> <%= project.start %> |
        <strong>Scadenza:</strong> <%= project.end %> <br>
        <strong>Status:</strong> <%= project.state %> <br>
        <strong>Dipartimento:</strong> <%= project.department %> <br>
        </p>
      </div>
      <h2 class="table-title">
        Team Responsabile
      </h2>
      <div class="table-container">
        <table class="table-info">
          <thead>
            <tr>
              <th>ID Dipendente</th>
              <th>Nome Completo</th>
              <th>Posizione</th>
            </tr>
          </thead>
          <tbody>
          <% employees.forEach(function(emp){ %>
          <% if(emp.company === currentUser.companyName && emp.department === project.department){ %>
            <tr>
              <td><a href="/homeadmin/employees/<%=emp._id%>"><%= emp.employeeId %></a></td>
              <td><%= emp.firstName %> <%= emp.lastName %></td>
              <td><%= emp.designation %></td>
            </tr>
          <% } %>
          <% }) %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
</body>

</html>