<%- include('../partials/userHeader.ejs') %> 
<%- include("../partials/adminSidebar.ejs") %>

<div class="wrapper">
  <div class="inner">
    <header class="header-general">
      <a href="#" class="header-general-link">
        Benvenuto <%= currentUser.username %> - <%= currentUser.userRole %>
      </a> 
    </header>
    <section class="container-home-presentation">
      <div class="info-user">
        <header>
          <h1><%=currentUser.companyName%></h1>
          <h2><%=currentUser.companyEmail%></h2>
          <h2><%=currentUser.companyAddress%></h2>
        </header>
      </div>
      <span class="span-img-home">
        <img src="https://wallpapercave.com/wp/wp2019265.jpg" alt="" class="img-home" />
      </span>
    </section>
    <header class="dep-section">
      <h2>
        Dipartimenti
      </h2>
    </header>
    <div class="dep-article-container">
    <% departments.forEach(function(dept){ %>
    <% if(dept.createdBy.username === currentUser.username){ %>
      <article class="dep-article">
        <a href="/homeadmin/departments/<%=dept._id%>">
          <img src="<%=dept.departmentImage%>" alt="" class="dep-section-img-home" />
        </a>
        <h3>
          <%=dept.departmentName%>
        </h3>
        <a href="/homeadmin/departments/<%=dept._id%>" class="dep-section-link">
          <button>
            Dettagli
          </button>
        </a>
      </article>
      <% } %>
      <% }) %>
    </div>
  </div>
</div>
</body>

</html>