
<%- include('../../partials/headerAdmin.ejs') %> 
<%- include("../../partials/adminSidebar.ejs") %>
<div class="wrapperHomeAdmin">
    <header class="headerHomeAdmin">
        <a href="#" class="nameAdmin">
            Utente: <%= currentUser.username %>
          </a>
          
    </header>

    <div class="wrapperDepAdmin">

        <header>
            <h1>Creazione Dipendente</h1>
        </header>

    <form action="/homeadmin/employees" method="POST">
        <div>
            <h5 class="sectionTitle">Informazioni Personali</h5>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputFname">Nome</label>
                    <input class="form-control" type="text" id="inputFname" name="employee[firstName]" required />
                </div>
            
            <div class="form-group col-md-12">
                <label for="inputLname">Cognome</label>
                <input class="form-control" type="text" id="inputLname" name="employee[lastName]" required />
            </div>
        </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                <label for="inputDob">Data di Nascita</label>
                <input class="form-control" type="date" id="inputDob" name="employee[dateOfBirth]" required />
            </div>
            
            <div class="form-group col-md-12">
                <label for="inputGender">Sesso</label>
                <select class="form-control" id="inputGender" name="employee[gender]" required>
                    <option selected>-- Scegli --</option>
                    <option>Uomo</option>
                    <option>Donna</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputPass">Password</label>
                <input class="form-control" type="text" id="inputPass" name="employee[password]" required />
            </div>
            <div class="form-group col-md-12">
                <label for="inputPhoto">Fotografia(URL)</label>
                <input class="form-control" type="text" id="inputPhoto" name="employee[photo]" required />
            </div>
        </div>
    </div>

        <div>
            <h5 class="sectionTitle">Contatti</h5>

            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmail">Email</label>
                <input class="form-control" type="email" id="inputEmail" name="employee[email]" required />
            </div>
            <div class="form-group col-md-12">
                <label for="inputMobile">Cellulare</label>
                <input class="form-control" type="text" id="inputMobile" name="employee[mobile]" required />
            </div>
        </div>
        </div>

        <div>
            <h5 class="sectionTitle">Status Lavorativo</h5>
            <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputEmployeeId">ID Dipendente</label>
                <input class="form-control" type="text" id="inputEmployeeId" name="employee[employeeId]" required />
            </div>
            <div class="form-group col-md-12">
                <label for="inputDesignation">Posizione</label>
                <input class="form-control" type="text" id="inputDesignation" name="employee[designation]" required />
            </div>
            <div class="form-group col-md-12">
                <label for="inputJoining">Data di Assunzione</label>
                <input class="form-control" type="date" id="inputJoining" name="employee[joiningDate]" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputDept">Dipartimento</label>
                <select class="form-control" id="inputDept" name="employee[department]">
                    <option selected>-- scegli --</option>
                    <% departments.forEach(function(dept){ %> 
                    <% if(dept.createdBy.username === currentUser.username){ %>
                    <option><%= dept.departmentName %></option>
                    <% } %>    
                <% }) %>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label for="inputCompany">Azienda</label>
                <input class="form-control" type="text" id="inputCompany" name="employee[company]" value="<%= currentUser.companyName %>" required />
            </div>
        </div>
    </div>

        <button type="submit" class="submitBtn">Crea</button>
    </form>
</div>
</div>
</body>
</html>