
<%- include('../../partials/userHeader.ejs') %> 
<%- include("../../partials/adminSidebar.ejs") %>

<div class="wrapper">
  <header class="header-general">
    <a href="#" class="header-general-link">
      Utente: <%= currentUser.username %>
    </a>
  </header>
  <div class="inner-wrapper">
    <section>
      <header class="section-header">
        <h1>
          Modifica Dipartimento
        </h1>
      </header>
      <form
        method="POST" 
        action="/homeadmin/departments/<%=department._id%>?_method=PUT"
      > 
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="input-name">
              Nome
            </label>
              <input
                class="form-control"
                type="text"
                id="input-name"
                name="department[departmentName]"
                value="<%= department.departmentName %>"
              />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="input-image">
              Url Immagine
            </label>
              <input
                class="form-control"
                type="text"
                id="input-image"
                name="department[departmentImage]"
                value="<%= department.departmentImage %>"
              />
          </div>
        </div>
        <button type="submit" class="submit-button">
          Modifica
        </button>
      </form>
    </section>
  </div>
</div>
</body>

</html>