
<%- include('../../partials/userHeader.ejs') %> 
<%- include("../../partials/adminSidebar.ejs") %>

<div class="wrapper">
  <header class="header-general">
    <a href="#" class="header-general-link">
      Utente: <%= currentUser.username %>
    </a>      
  </header>
  <div class="inner-wrapper">
    <section>
      <header class="inner-header-container-title">
        <h1>
          <%= department.departmentName %>
        </h1>
      </header>
      <span class="show-page-image">
        <img src="<%= department.departmentImage %>" alt="" />
      </span>
      <div class="show-page-update-button">
        <a href="/homeadmin/departments/<%=department._id%>/edit">
          <button>
            Modifica
          </button>
        </a>
        <form 
          method="POST"
          action="/homeadmin/departments/<%=department._id%>?_method=DELETE" style="width: 100%;"
        >
          <button class="delete-button"> 
            Elimina
          </button>
        </form>
      </div>
      <h2 class="table-title">
        Lista Dipendenti
      </h2>
        <div class="table-container">
          <table class="table-info">
            <thead>
              <tr>
                <th>ID Dipendente</th>
                <th>Nome Completo</th>
                <th>Dipartimento</th>
                <th>Posizione</th>
              </tr>
            </thead>
            <tbody>
              <% employees.forEach(function(emp){ %> <% if(emp.company === currentUser.companyName && emp.department === department.departmentName) { %> 
                <tr>
                  <td><a href="/homeadmin/employees/<%=emp._id%>"><%= emp.employeeId %></a></td>
                  <td><%= emp.firstName %> <%= emp.lastName %></td>
                  <td><%= emp.department %></td>
                  <td><%= emp.designation %></td>
                </tr>
              <% } %> <% }) %>
            </tbody>
          </table>
        </div>
        <h2 class="table-title">
          Progetti
        </h2>
        <div class="table-container">
          <table class="table-info">
            <thead>
              <tr>
                <th>Titolo</th>
                <th>Inizio</th>
                <th>Fine</th>
                <th>Dipartimento Responsabile</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% projects.forEach(function(project){ %> 
              <% if(project.company === currentUser.companyName && project.department === department.departmentName){ %>
                <tr>
                  <td><a href="/homeadmin/projects/<%=project._id%>"><%= project.name %></a></td>
                  <td><%= project.start %></td>
                  <td><%= project.end %></td>
                  <td><%= project.department %></td>
                  <td><%= project.state %></td>
                </tr>
              <% } %> 
              <% }) %>
            </tbody>
          </table>
        </div>
    </section>
  </div>
</div>
</body>

</html>